<h1>{{ object.text }}</h1>
<ul>
    {% for c in object.choice_set.all %}
        <li>
            <p>{{ c.text }} - {{ c.votes  }} vote{{ c.votes|pluralize }}</p>
        </li>
    {% empty %}  
        <li>
            <p>No choices registered.</p>
        </li>
    {% endfor %}
</ul>
    