<h1>Question List</h1>
<ul>
{% for q in object_list %}
    <li>
        <a href="{% url 'polls:detail' pk=q.pk %}">{{ q.text }}</a>
    </li>
{% empty %}  
    <li>
        <p>No polls registered.</p>
    </li>
{% endfor %}
</ul>
    